@media (min-width:1000px) {

    .container {
        display: flex;
        justify-content: center;
    }
    .body-desc{
        // padding: 20vh;
        row-gap: 5vh;
        width: 65%;
        .gallery{

            .banner {
                height: 50vh;
            }

            figure {
                flex-wrap: nowrap;
                img {
                    height: 30vh;
                    width: 25%;

                }
            }
        }
        .main-content {
            flex-direction: row;
            column-gap: 4vh;
            .right {
                width: 80%;
            }
        }
    }
}