@media (min-width:600px) {
    .body-desc{
        .gallery{
            .banner {
                height: 40vh;
            }

            figure {
                img {
                    height: 20vh;
                }
            }
            
        }
    }
    .main-content{
        .right{
            .buttonB:hover{
                color: $color2;
                background-color: wheat;
                cursor: pointer;
            }
        }
    }
    .main-content .right .wForm [type="submit"]:hover {
        color: $color2;
        background-color: wheat;
        cursor: pointer;

    }
    .allAcc{
        a{
            transition: .4s;
        }
        a:hover{
            transform: scale(1.02);
        }
    }
    .trips{
        a{
            transition: .4s;
            color: black ;
        }
        a:hover{
            transform: scale(1.02);
        }
    }
}