@media (min-width:600px) {
    .body-desc{
        .gallery{
            .banner {
                height: 40vh;
            }

            figure {
                img {
                    height: 20vh;
                }
            }
            
        }
    }
    .main-content .right .wForm [type="submit"]:hover {
        color: $color2;
        background-color: wheat;
    }
}