$color1: rgb(34,34,34);
$color2: rgb(198,164,126);
@media (min-width: $mobileScreen){
    .login{
        background-image: url("/login/inc/img/login.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        
    }
    
    .containerLogin{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 55vh;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-color: rgba(142, 153, 164, 0.7);
        padding-top: 20vh;
        padding-bottom: 20vh;
       
        img{
            width: 150px;
            height: 150px;
        }
    }
    
    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    
    
    input[type="text"],
    input[type="password"]{
        padding-top: 3%;
        margin-top: 30px;
        height: 45px;
        width: 90%;
        font-size: 18px;
        margin-bottom: 20px;
        background-color: white;
        padding-left: 40px;

    }
    
    .form-input::before{
        content: "\f007";
        font-family: "FontAwesome";
        padding-left: 1%;
        padding-top: 40px;
        position: absolute;
        font-size: 35px;
        color: $color1; 
    }
    
    .form-input:nth-child(2)::before{
        content: "\f023";
    }
    
    .btn-login{
        padding: 15px 25px;
        border: 3px solid $color1;
        background-color: $color2;
        color: $color1;
        font-size: 16px;
        font-weight: 700;
    }
}