@media (min-width: $desktopScreen){

    nav {
        
        padding: 3vh;

        img {
            width: 10vh;
        }

        h3 {
            font-size: 36px;
        }

        > ul {
            display: flex;
            align-items: center;
            column-gap: 10vh;
            a {
                font-size: 24px;
                transition: .3s;
                &:hover{
                    border-bottom: 5px solid $color2;
                    color: white;
                }
            }
        }

        > details {    
            display: none;
    
        }
    
    }

    .log {
        display: flex;
        column-gap: 3vh;                       
        a {
            padding: 1vh;
            border: 1px solid $color2;
            border-radius: 15px;
            background-color: $color2;
            font-size: 24px;
            color: white;
            transition: .4s;
            &:hover{
               background-color: white;
               border: 1px solid $color2;
               color: $color2;
            }
        }

    }
        
    

    .headbg {
        height: 45vh;
    
        
        > section {
            row-gap: 3vh;

            > a {
                border-radius: 10px;
                padding: 1%;
                width: 15vh;
                font-size: 20px;
                &:hover{
                    background-color: $color1;
                    border: 1px solid $color2;
                    color: $color2;
                 }
            }
            
        }

        h2 {
            font-weight: 900;
            font-size: 38px;
                     
        }

        h5 {
            font-size: 30px;
        }

        
    }

    


    
}