@media (min-width: $desktopScreen) {
  .forAdd {
    padding-right: 1vh;
    width: 90%;
    align-items: center;
  }
  .aroom {
    flex-direction: column;
    width: 80%
  }
  
  h2.heading {
    font-size: 32px;
  }
  
  .controls {
    padding: 2vh;
  }
  
  // .form-group {
    
  //   > .grid {
  //     flex-direction: row;
  //     column-gap: 10px;
  //     align-items: center;
  //     justify-content: space-between;
  //   }
  // }


  #top {
    flex-direction: column;
    

    #name {
      padding: 1px;
      width: 110%;
    }
  }

    #bottom{
      width: 100%;
    }

    #chkd{
      justify-content: space-evenly;
      width: 100%;
      column-gap: 1vh;
    }

    

    label {
      font-size: 16px;
    }
  
    .controls {
      > input[type="text"],
      > input[type="email"],
      > input[type="tel"],
      > textarea,
        button {
            font-size: 18px;        

            &:focus,
            &:hover {
                outline: none;
                border-color: $color1;
                + label {
                    color: $color1;
                    cursor: text;
                }
            }
        }
  
    }

    #commentssec{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 100%;
    }
    
    #commentsbox {
        width: 100%;
        
    }
    
  
    button {
        width: 40%;
        margin-left: 0;

        &:hover {
            border-radius: 10px;
            color: $color2;
            background-color: $color1;
        }

    }
  
    p.info-text {
      font-size: 22px;
    }
  }